# Blacklist everything
/*

# whitelist the necessary files and folders, this gets everything from inside them too
!.gitignore
!.gitmodules
!README.md
!SpaceInvaders.hw_handoff/
!SpaceInvaders.proj/
!SpaceInvaders.repo/
!SpaceInvaders.sdk/
!SpaceInvaders.srcs/

#Digilent Added ignore rules for Vivado projects

# sdk exclusions
SpaceInvaders.sdk/.metadata
SpaceInvaders.sdk/**/*RemoteSystemsTempFiles
SpaceInvaders.sdk/**/*Debug/*
SpaceInvaders.sdk/**/*Release
SpaceInvaders.sdk/**/*webtalk
SpaceInvaders.sdk/.sdk
SpaceInvaders.sdk/*.log
# ignore everything in the hw_platform
SpaceInvaders.sdk/*hw_platform*/*
# except
!SpaceInvaders.sdk/*hw_platform*/*.hdf
!SpaceInvaders.sdk/*hw_platform*/.*project
# ignore everything in the BSP
SpaceInvaders.sdk/*_bsp*/*
# except
!SpaceInvaders.sdk/*_bsp*/system.mss
!SpaceInvaders.sdk/*_bsp*/Makefile
!SpaceInvaders.sdk/*_bsp*/.*project
# include the relevant elf files
!SpaceInvaders.sdk/**/*Debug/*.elf
!SpaceInvaders.sdk/**/*Debug/*.elf.size

SpaceInvaders.repo/**
# whitelist vivado-library if it exists
!SpaceInvaders.repo/vivado-library
#do not white-list submodule contents
!SpaceInvaders.repo/local
!SpaceInvaders.repo/local/**
!SpaceInvaders.repo/cache
SpaceInvaders.repo/cache/**



# Make sure we keep only xci files in ip src subfolder
SpaceInvaders.src/ip/*/**
!SpaceInvaders.src/ip/*/*.xci
!SpaceInvaders.src/ip/*/*.prj

# Do not ignore anything in src/others
!SpaceInvaders.src/others/*

# Do not ignore block diagram files
!SpaceInvaders.src/bd/**

# ignore everything in project folder
SpaceInvaders.proj/*
# except this file and project generators
!SpaceInvaders.proj/create_project.tcl
!SpaceInvaders.proj/cleanup.cmd
!SpaceInvaders.proj/cleanup.sh
!SpaceInvaders.proj/release.py

# keep the empty folders
!**/.keep

# ignore edit_project folder where the IP Packager projects are created when editing IPs
edit_projects
